:root {
  --primary-color: #12ac8e;
  --primary-color-dark: #0d846c;
  --primary-color-light: #e9f7f7;
  --secondary-color: #fb923c;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  user-select: none;
}

img {
  pointer-events: none;
  user-select: none;
}


.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
span{
  color: var(--secondary-color);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  font-style: normal;
}
.m0{
  margin: 0;

}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}



body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
  width: 100%;
  user-select: none;
  margin: 0;
  padding: 0px;
  /* overflow-x: hidden; */
}
h3{
  margin: 0;
}
.email-box input{
  color: #333;
  z-index: 11;
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  /* background-color: rgb(3, 212, 160); */
  align-items: center;
}

.dev-illustration {
  height: 75%;
  width: 100%;
  opacity: .8 ;
  object-fit: contain;

}
.coming-soon-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding-left: 25%;
  margin-top: 35px;
}

.first-half-sec {
  width: 50%;
  padding: 10px;
  display: flex;
  gap: 10px;
  height: 100vh;

  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
}

.illustration-box {
width: 60%;
gap: 11px;
  height: auto;
  /* padding-left: 20%; */
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

}

.illustration-text {

  color: #a5a5a5;
  margin: 0;
  font-size: small;
  
}


.second-half-sec {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #a5a5a5;
  align-items: center;
  /* overflow: hidden; */
  /* object-fit: cover; */
  clip-path: polygon(100% 0, 20% 0, 0% 100%, 100% 100%);
}
.nav_logo{
  color: var(--white);
}
.second-half-sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: none;
  box-sizing: border-box;
  /* clip-path: polygon(100% 0, 10% 0, 0% 100%, 100% 100%); */
  /* clip-path: polygon(100% 0, 0% 0, 0% 100%, 100% 100%); */
  transition: opacity 2s ease-in-out; 
  opacity: 0;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  z-index: 11;
}


.partition {
  display: flex;
  width: 100%;
}
.btn-subscribe{
  background-color: hsl(4, 96%, 46%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;

}

.hero-logo {
  height: 180px;
  position: relative;
  width: 180px;
  border-radius: 100%;
  z-index: 10;
}
input{
  border: 1px solid #ccc; /* Default border */
  background-color: rgb(243, 243, 243); /* Transparent background */
  padding: 8px; /* Adjust padding as needed */
  
}
input:not(:focus){
  border: 1px solid #c8c7c7; /* Change border to black when not focused */
}
.btn-box{
  /* padding: 10%; */
  color: rgb(200, 200, 200);
  border-radius: 5px;
  /* border-color: #333; */

}

.loading-icon {
  width: 120px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
  border: 40px solid transparent; /* Thick border */
  position: absolute;
  top: 60px;
  left: 206px;
  border-radius: 50%; /* Make it a circle */
  border-top-color: #141E46; /* Color of the border */
  animation: spin 3s linear infinite; /* Animation properties */
  z-index: -1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* For tablet devices */
@media screen and (max-width: 768px) {
  .first-half-sec {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .second-half-sec img {
    display: block;
    position: static; /* Change position to static */
    clip-path: none; /* Remove clip-path */
    width: 100%; /* Ensure image takes full width */
    height: auto; /* Allow image to adjust its height proportionally */
  }
  .partition {
    flex-direction: column;
    gap: 20px;
  }
  .email-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .first-half-sec{
    justify-content: center;
    gap: 72px;
  }
  .second-half-sec {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    clip-path: polygon(100% 0, 0 0, 0% 100%, 100% 100%); /* Adjust clip-path */
  }
}


/* For mobile devices */
@media screen and (max-width: 480px) {
  .second-half-sec img {
    width: 100%; /* Ensure image takes full width */
    height: auto; /* Allow image to adjust its height proportionally */
  }
  .first-half-sec{
    padding: 0;
  
  }
  .center{
    margin-top: 0px;
  }
  .coming-soon-box{
    align-self: center;
    justify-content: center;
    padding: 0;
  }
  .email-box{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .dev-illustration {
    height: 100%;
  }
  .email-confirm{
    position: absolute;
    align-self: center;
     top: 70%;
    /*left: 90px; */
    z-index: 22;
    color: #eaeaea;
    background-color: rgb(0, 189, 98);
    padding: 2px 10px;
    border-radius: 10px;
  }
.partition{
  gap: 0px;
}
}

